---
import Card from '../Card/Card.astro';
import { getCollection } from 'astro:content';
import type { ImageMetadata } from 'astro';


interface Props {
  variant?: string;
}

const { variant = "tech" } = Astro.props;
const images = import.meta.glob<{
  default: ImageMetadata
}>(
  [
    '/src/pages/portfolio/**/*.{jpeg,jpg,png,gif,webp}',
    '/public/img/**/placeholder.jpg'
  ],
  { eager: true }
);

const cardCollection = (await getCollection('portfolio', ({ data, id }) => {
  if (data.scheme == variant && data.pubDate && new Date(data.pubDate) <= new Date()) {
    const imagePath = `/src/pages/portfolio/${id}/${data.teaserImage}`;
    const placeholderPath = `/public/img/placeholder.jpg`;

    // Extract the URL from the ImageMetadata
    data.teaserImage = images[imagePath]?.default ?? images[placeholderPath]?.default;
    return data;
  }
})).sort((a, b) => new Date(a.data.pubDate).getTime() - new Date(b.data.pubDate).getTime());
const cards = cardCollection.reverse();
---

{cards.map((card) => {
  let image = null;

  return (
    <Card
      variant="overlay"
      heading={card.data.title}
      buttonHref={`/portfolio/${card.id}`}
      buttonLabel="View"
      buttonExternal={false}
      bgImage={card.data.teaserImage ?? null}
      bgColor={card.data.bgColor}
    >
      <p><small>{card.data.description}</small></p>
    </Card>
  );
})}

