---
import Section from '../../Organisms/Section/Section.astro';
import ReelIndicator from '../../Atoms/ReelIndicator/ReelIndicator.astro';
import './SectionProof.css';

interface Props {
  className?: string;
}

const { className } = Astro.props;
const total = 9;
---

<Section
  justify="center"
  align="center"
  brow=""
  heading=""
  bgColor="dark"
  className=`${className ? className : ""} proof`
>
  <div class='reel overflowing'>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>“This work is exceptional (as I have always known it would be) - Your module is well built, responsibly commented and scalable. and I really appreciate it.”</quote> <cite>— Bob McDiarmid, Workday Inc.</cite>
      </div>
      <ReelIndicator
        total={total}
        item={0}
      />
    </div>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>“I will repeat that this is most excellent work, Calvin - the more I read the code the more I appreciate it. :) you = awesome.”</quote> <cite>— Bob McDiarmid, Workday Inc.</cite>
      </div>
      <ReelIndicator
        total={total}
        item={1}
      />
    </div>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>“Great work by Calvin. He optimized our process an order of magnitude, making webservices’ job much easier. Backend tooling and processes isn’t glamorous, but I can see a lot of work went into the structure and the automation.”</quote> <cite>— Ivan Bueno, Judicial Council of California - Technical Lead</cite>
      </div>
      <ReelIndicator
        total={total}
        item={2}
      />
    </div>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>“Calvin is the single greatest non-Phase2 developer I've worked with in the last 5 years.”</quote> <cite>— Chris Bloom (Director of Engineering, Frontend - Phase2)</cite>
      </div>
      <ReelIndicator
        total={total}
        item={3}
      />
    </div>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>"I would absolutely recommend you to another project for many and varied reasons."</quote> <cite> &mdash;</cite> Ray Stuart (Senior Developer - Better Workdays formerly at Phase2)</cite>
      </div>
      <ReelIndicator
        total={total}
        item={4}
      />
    </div>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>"Just wanted to let you know how valued you are to the team and how much we have appreciated your hard work and contributions. Not just your skill, but your personality and willingness to take on anything."</quote> <cite> &mdash;</cite> Brandon Lee (Software Architect - Phase2)</cite>
      </div>
      <ReelIndicator
        total={total}
        item={5}
      />
    </div>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>"Calvin is deeply knowledgeable ... and his work on our DevOps and processes made it a joy to work on multiple client projects in parallel. Calvin developed a toolchain that allowed us to spin up new sites in no time at all. Easily one of his best skills, Calvin's ability to plan out a site and see the potential pitfalls and requirements for success."</quote><cite> &mdash;</cite> David Cross (Tech Director - Critical Mass)</cite>
      </div>
      <ReelIndicator
        total={total}
        item={6}
      />
    </div>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>"I do really want to thank you for all of the help and your patience with me over the last 2 or so years. i’ve sincerely learned a ton from you and really, really appreciate it!"</quote><cite> &mdash;</cite>Jared Beckler (Support Engineer - Acquia)</cite>
      </div>
      <ReelIndicator
        total={total}
        item={7}
      />
    </div>
    <div class='item cover' style="--cover-height: 100%;">
      <div class="principal">
        <quote>"Calvin is the only person I trust to develop my website in the most functional, efficient and cost effective way. His great service is also unmatched."</quote><cite> &mdash;</cite>Nicole Garza (Designer | Founder at Mally Designs Ltd.)</cite>
      </div>
      <ReelIndicator
        total={total}
        item={8}
      />
  </div>
</Section>

<script is:inline src="/js/SectionProof.js"></script>
